<!DOCTYPE html>
<html>
<h1>Blocitoff</h1>
<p id="index-title">Your Self-destructing To-Do List</p>
<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = User.avatar_url(current_user, 128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
    <div class="media">
      <h4 class="media-heading"><%= current_user.username %></h4>
    </div>
   </div>
  </div>
</html>
