<!DOCTYPE html>
<html>
<h1>Blocitoff</h1>
<p id="index-title">Your Self-destructing To-Do List</p>
<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <center>
      <% avatar_url = User.avatar_url(current_user, 128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
    <div class="media">
      <h4 class="media-heading"><%= current_user.username %>'s To-Do List</h4>
    </div>
      </center>
    <div class="media">
        <center>
          <h2>Items</h2>
        </center>
        <%= render @user.items %>
    </div>
    <br>
    <div>
      <h4 class="media-heading">Add To-Do item</h4>
      <br>
      <%=render 'items/form', item: Item.new, user: @user %>
    </div>
   </div>
  </div>
</html>
