<br>
<div class="jumbotron">
  <h1>Blocitoff</h1>
  <p id="index-title">Your self-destructing To-Do List
    <br>
    <br>
    <%= link_to "Sign Up Now", new_user_registration_path, class: 'btn btn-primary' %>
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Set Personal To-Do list</h2>
    <p>Blocitoff allows users to create profiles where they can easily read and add new To-do items</p>
  </div>
  <div class="col-md-4">
    <h2>Forces Users to Complete Tasks</h2>
    <p>To ensure timely completion of items, Blocitoff sets a seven day timer toward the self-destruction of all To-Do items.</p>
  </div>
  <div class="col-md-4">
    <h2>Uses Peer Pressure to Ensure Success</h2>
    <p>Blocitoff allows users to connect and communicate with other users so that users can support each other</p>
  </div>
</div>
