<h1><%= @item.name %> by <%= @item.date %> or else!!</h1>
<center>
  <img src=http://vignette1.wikia.nocookie.net/villainsfanon/images/c/c2/Warning.gif/revision/latest?cb=20140429021455 style="width:304px;height:228px;">
</center>
